@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: Raleway;
  background: #FFFFFF; }

a, a:visited {
  color: #323232;
  font-weight: 500; }

header {
  top: 0;
  position: sticky;
  background: #FFFFFF;
  display: grid;
  grid-template-rows: 48px;
  grid-template-columns: calc(50vw - 400px) 36px auto auto 1fr 8px 36px calc(50vw - 400px);
  grid-template-areas: ". logo title blogpage-title search . account .";
  align-items: center; }
  header a, header a:visited {
    text-decoration: none;
    color: inherit; }
  header #logo {
    grid-area: logo;
    width: 36px;
    height: 36px; }
    header #logo img {
      width: 100%;
      height: 100%; }
  header #blog-title {
    grid-area: title;
    padding-left: 16px; }
  header #blogpage-title {
    grid-area: blogpage-title;
    color: #626262;
    padding-left: 8px; }
  header #account {
    grid-area: account;
    border: none;
    height: 36px;
    padding: 0;
    margin: 0;
    cursor: not-allowed;
    background: #FFFFFF;
    border: 2px solid #B8B8B8;
    border-radius: 4px; }
    header #account img {
      width: 100%;
      height: 100%; }
  header #search {
    grid-area: search;
    place-self: center end;
    height: 36px; }
    header #search button {
      width: 36px;
      height: 36px;
      border: none;
      padding: 0;
      cursor: pointer;
      background: #FFFFFF;
      transition: background 0.4s;
      border: 2px solid #B8B8B8;
      border-radius: 4px; }
      header #search button img {
        width: 100%;
        height: 100%; }
    header #search input {
      height: 36px;
      vertical-align: top;
      box-sizing: border-box;
      margin: 0;
      font-size: 20px;
      transition: width .3s;
      width: 0px;
      border: none;
      padding: 4px 0;
      border-radius: 4px 0 0 4px; }
      header #search input.open {
        width: 300px;
        padding: 4px;
        border-width: 2px 0 2px 2px;
        border-color: #B8B8B8;
        border-style: solid; }
        header #search input.open + button {
          border-left-width: 0;
          padding-left: 2px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      header #search input:focus {
        outline: none; }

nav {
  top: 0;
  position: sticky;
  background: #FFFFFF;
  color: #323232;
  display: grid;
  grid-template-rows: 48px;
  grid-template-columns: calc(50vw - 400px) 0 0 auto auto calc(50vw - 400px);
  grid-template-areas: ". expanding-logo . header-left header-right .";
  align-items: center;
  box-shadow: 0px 5px 6px -4px #323232;
  transition: grid-template-columns .3s;
  z-index: 100; }
  nav.dense {
    grid-template-columns: calc(50vw - 400px) 36px 8px auto auto calc(50vw - 400px); }
  nav #expanding-logo {
    grid-area: expanding-logo;
    height: 36px; }
    nav #expanding-logo img {
      width: 100%;
      height: auto; }
  nav #header-left {
    grid-area: header-left; }
  nav #header-right {
    grid-area: header-right;
    justify-self: right;
    text-align: right; }
  nav ul {
    margin: 0;
    padding: 0;
    height: 48px;
    display: inline-block; }
  nav > ul > li {
    display: inline-block;
    vertical-align: top;
    position: relative; }
  nav li {
    list-style: none;
    position: relative;
    height: 48px;
    background: #FFFFFF;
    padding: 14px 8px;
    box-sizing: border-box;
    text-decoration: underline;
    font-weight: 500;
    text-overflow: ellipsis; }
    nav li > ul {
      display: none;
      position: absolute;
      left: 0;
      top: 48px;
      min-width: 120px; }
      nav li > ul li {
        display: block;
        background: whitesmoke; }
        nav li > ul li ul {
          position: absolute;
          left: 120px;
          top: 0; }
    nav li:hover > ul {
      display: block; }
    nav li:not(.spacer) {
      cursor: pointer; }
      nav li:not(.spacer):hover {
        background: #ebebeb; }
    nav li.spacer-small {
      width: 30px; }
    nav li.spacer-medium {
      width: 60px; }
    nav li.spacer-large {
      width: 120px; }

#filter_results {
  text-align: center;
  font-size: 30px; }

#list {
  display: grid;
  margin: 24px calc(50vw - 400px) 0;
  max-width: 100vw;
  grid-template-columns: repeat(auto-fit, 392px);
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  grid-gap: 16px; }
  #list a {
    text-decoration: none;
    transition: background .4s; }
    #list a:hover {
      background: #f2f2f2; }
    #list a.double {
      grid-row: span 3; }
    #list a .thumbnail {
      width: 100%;
      max-height: 250px;
      object-fit: fill; }
    #list a h3 {
      font-size: 26px;
      margin: 0; }
      #list a h3.important {
        text-transform: uppercase; }
    #list a h4 {
      font-size: 22px;
      margin-top: 12px; }
    #list a i {
      font-weight: 300; }
    #list a span img {
      width: 16px;
      height: 16px; }

main {
  display: grid;
  grid-template-columns: calc(50vw - 400px) minmax(800px, 100vw) calc(50vw - 400px);
  grid-template-areas: ". content .";
  max-width: 100vw; }
  main #content {
    grid-area: content;
    font-size: 17px;
    line-height: 1.6;
    max-width: 100vw;
    padding: 8px;
    box-sizing: border-box; }
    main #content > h1, main #content > h2 {
      text-align: center; }
    main #content #authors img {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      object-fit: cover;
      vertical-align: middle; }
    main #content #authors p {
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      font-weight: 500; }
    main #content #authors div {
      border: 3px solid #d2d2d2;
      border-radius: 8px;
      display: inline-block;
      padding: 8px; }
    main #content #authors a {
      display: inline-block; }
    main #content > p {
      display: inline;
      font-weight: 300; }
      main #content > p + p:not(:empty):before {
        content: '| ';
        color: #B8B8B8; }
    main #content #tags {
      padding-left: 0;
      padding-top: 24px; }
      main #content #tags a {
        text-decoration: none; }
      main #content #tags li {
        display: inline;
        border: 2px solid #494949;
        color: #494949;
        border-radius: 40px;
        padding: 8px;
        height: 44px;
        margin: 4px;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px; }
        main #content #tags li:before {
          content: '#';
          font-size: 18px;
          font-weight: 800; }
        main #content #tags li .popular {
          background: #626262;
          font-weight: 600; }
    main #content article img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 100%; }
      main #content article img:not([width]) {
        width: 100%; }
    main #content article hr {
      border-color: #B8B8B8;
      border-radius: 2px; }
    main #content article blockquote:before {
      content: '“';
      position: relative;
      left: -40px;
      top: 30px;
      font-size: 80px;
      line-height: 16px;
      color: #626262; }
    main #content article blockquote p {
      margin-top: -28px;
      font-style: italic;
      font-size: 20px; }
    main #content article mark {
      background: #e6e6e6;
      color: black;
      font-weight: 500; }
    main #content article span.spoiler {
      padding: 4px;
      line-height: 1.9;
      box-sizing: border-box;
      background: #ebebeb;
      user-select: none;
      -webkit-user-select: none;
      color: transparent;
      border-radius: 3px;
      cursor: pointer; }
      main #content article span.spoiler.shown {
        color: #323232;
        user-select: auto;
        -webkit-user-select: auto;
        cursor: auto; }
    main #content article p.main {
      border-left: 4px solid #626262;
      background: #B8B8B8;
      padding: 8px;
      margin: 0; }
    main #content article pre, main #content article kbd, main #content article code {
      font-family: 'Source Code Pro';
      word-break: break-word;
      white-space: pre-wrap; }
    main #content article pre {
      position: relative; }
      main #content article pre button.copy {
        position: absolute;
        right: 17px;
        top: 17px;
        height: 18px;
        background: rgba(0, 0, 0, 0.35);
        border: none;
        color: #FFFFFF; }
        main #content article pre button.copy.focus {
          color: #FFFFFF; }
    main #content article a[href^='#fn'] {
      vertical-align: super; }
    main #content article ul {
      padding-left: 0; }
      main #content article ul > li {
        list-style: none; }
        main #content article ul > li:not(.task-list-item):before {
          content: '•';
          vertical-align: middle;
          font-size: 26px;
          margin: -16px 0;
          display: inline-block;
          padding-right: 11px;
          padding-left: 20px; }
    main #content article input[type=checkbox].task-list-item-checkbox {
      margin-left: 16px;
      margin-right: 8px; }
    main #content article table {
      border-spacing: 0;
      border-collapse: collapse; }
      main #content article table tr:nth-child(2n) {
        background: #f2f2f2; }
      main #content article table th {
        text-align: center; }
      main #content article table th, main #content article table td {
        padding: 6px 8px;
        border: 1px solid #e6e6e6;
        height: 31px; }
    main #content article img.emoji {
      display: initial;
      width: 20px;
      height: 20px; }
    main #content article div.embed {
      max-width: 100%; }
      main #content article div.embed.embed-youtube {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        z-index: 0; }
        main #content article div.embed.embed-youtube iframe {
          width: 100%;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0; }
      main #content article div.embed.embed-twitter {
        max-width: 560px;
        min-height: 400px;
        margin-left: auto;
        margin-right: auto; }
      main #content article div.embed.embed-instagram {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto; }
      main #content article div.embed.embed-spotify {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto; }
      main #content article div.embed.embed-custom iframe:not([src]) {
        height: 0; }
      main #content article div.embed.embed-custom {
        height: 600px;
        background: #dedede;
        margin-bottom: 8px; }
      main #content article div.embed.embed-codesandbox {
        height: 600px; }
      main #content article div.embed iframe {
        width: 100%;
        height: 100%; }
    main #content article div.gauge-container .gauge-max {
      margin: -16px;
      clip-path: polygon(75% 25%, 75% 75%, 67.51% 75%, 85.01% 100%, 14.99% 100%, 32.49% 75%, 25% 75%, 25% 25%);
      background: #FFFFFF;
      width: 150px;
      height: 150px; }
    main #content article div.gauge-container .gauge {
      background: #FFFFFF;
      width: 150px;
      height: 150px;
      margin: -16px; }
      main #content article div.gauge-container .gauge.gauge-10 {
        clip-path: polygon(75% 25%, 75% 75%, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-9 {
        clip-path: polygon(75% 25%, 75% 58.12%, 100% 66.25%, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-8 {
        clip-path: polygon(75% 25%, 75% 46.04%, 100% 42.08%, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-7 {
        clip-path: polygon(75% 25%, 75% 31.84%, 100% 13.67%, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-6 {
        clip-path: polygon(62.74% 25%, 75.48% 0, 100% 0, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-5 {
        clip-path: polygon(50% 25%, 50% 0, 100% 0, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-4 {
        clip-path: polygon(37.26% 25%, 24.52% 0, 100% 0, 100% 100%, 0 100%, 25% 75%, 25% 25%); }
      main #content article div.gauge-container .gauge.gauge-3 {
        clip-path: polygon(25% 75%, 25% 31.84%, 0 13.67%, 0 0, 100% 0, 100% 100%, 0 100%); }
      main #content article div.gauge-container .gauge.gauge-2 {
        clip-path: polygon(25% 75%, 25% 46.04%, 0 42.08%, 0 0, 100% 0, 100% 100%, 0 100%); }
      main #content article div.gauge-container .gauge.gauge-1 {
        clip-path: polygon(25% 75%, 25% 58.12%, 0 66.25%, 0 0, 100% 0, 100% 100%, 0 100%); }
    main #content article div.gauge-container .gauge-max-background {
      border-radius: 75px;
      border-width: 16px;
      border-style: solid;
      box-sizing: border-box;
      border-color: #B8B8B8;
      clip-path: circle(67px at 50% 50%);
      width: 150px;
      height: 150px; }
    main #content article div.gauge-container .gauge-background {
      border-radius: 75px;
      border-width: 16px;
      border-style: solid;
      box-sizing: border-box;
      border-color: #626262;
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto; }
    main #content article div.gauge-container .gauge-caption {
      text-align: center;
      margin-top: 0; }
    main #content article div.gauge-container .gauge-rating {
      position: absolute;
      width: 150px;
      height: 150px;
      line-height: 150px;
      margin: 0;
      text-align: center; }
      main #content article div.gauge-container .gauge-rating b {
        font-size: 24px; }
    main #content article .katex-html {
      display: none; }
    main #content article .katex-display {
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center; }

.error {
  text-align: center; }
  .error img {
    max-width: 60vw;
    max-height: 60vh; }
    .error img + p {
      font-size: 16px;
      margin-top: 8px; }

footer {
  display: grid;
  grid-template: ". related-blogs related-blogs ." auto ". copyright socials ." auto ". poweredby poweredby ." auto/calc(50vw - 400px) auto auto calc(50vw - 400px);
  place-items: stretch;
  margin-top: 60px;
  padding-bottom: 24px; }
  footer #related-blogs {
    grid-area: related-blogs; }
    footer #related-blogs ul {
      list-style: none;
      padding-left: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      grid-row-gap: 16px; }
      footer #related-blogs ul li {
        height: 32px; }
      footer #related-blogs ul img {
        width: 32px;
        height: 32px; }
      footer #related-blogs ul p {
        display: inline-block;
        margin: 0 12px;
        line-height: 32px;
        vertical-align: top; }
  footer p {
    grid-area: copyright; }
  footer #socials {
    list-style: none;
    grid-area: socials;
    padding-left: 0; }
    footer #socials img {
      vertical-align: middle;
      width: 32px;
      height: 32px; }
    footer #socials a, footer #socials a:visited {
      vertical-align: middle;
      text-decoration: none;
      color: #323232; }
  footer > a {
    grid-area: poweredby;
    font-weight: 600;
    color: #323232;
    text-align: center; }
